numpy~=1.26.4
matplotlib~=3.8.3
pyaer~=0.2.7a0
qpsolvers~=4.3.1
scipy~=1.11.4
scikit-learn~=1.4.1.post1
pyserial~=3.5
pillow~=10.2.0
opencv-python~=4.9.0.80
natsort~=8.4.0
inputimeout~=1.0.4
pyyaml==6.0.1
pyzmq==25.1.2
h5py==3.10.0
pyqt6~=6.7.0
osqp~=0.6.7
torch~=2.3.1+cu118
torchvision~=0.18.1+cu118
networkx~=3.2.1
scikit-image~=0.24.0
opencv-contrib-python~=4.10.0.84